
.section{
  min-height: 100vh;
  width: 100%;
  background-color: #000000;
  background-image: linear-gradient(195deg, #3d7799 20%, #010715 75%);
}
.b{
  min-height: 100vh;
  width: 100%;
  background-color: #13212b;
  background-image: linear-gradient(135deg, #101e27 0%, #070d1c80 100%);
  padding: 0;
}