@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.section{
    min-height: 100vh;
    width: 100%;
    background: url(https://i.pinimg.com/originals/db/7f/5d/db7f5d736eb2b3ab44aae63b56921cf1.jpg) center center/cover no-repeat;

}
.s1{
    background: url(https://artfiles.alphacoders.com/105/thumb-1920-105925.jpg)center center/cover no-repeat;
    
}
.s2{
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    

    
}   
.s3{
    background: url(https://artfiles.alphacoders.com/441/44134.jpg)center center/cover no-repeat;
    
}

.container{
    display: flex;
    padding: 25px;
    justify-content: space-between;
    flex-direction: column-reverse;
    height: 100vh;
    width: 100%;

}
.general{
    text-align: center;
    font-size: 80px;
    color: white;
    text-shadow: 5px 5px 20px rgb(226, 179, 50);    
}
.smalltext{
    text-align: left;
    font-size: 40px;
    color: white;
    text-shadow: 5px 5px 20px rgb(236, 255, 61);
    span{
        text-transform: uppercase;
    }
    &__1{
        text-align: right;
        font-size: 40px;
        padding-right: 115px;
        color: white;
        text-shadow: 5px 5px 20px rgb(236, 255, 61);
    }
    &__2{
        text-align: center;
        font-size: 30px;
        color: white;
        text-shadow: 5px 5px 20px rgb(68, 133, 230);
    }
    &__3{
        text-align: right;
        line-height: 44px;
        font-style: italic;
        font-size: 60px;
        color: white;
        text-shadow: 5px 5px 20px rgb(199, 100, 230);

    }
    &__4{
        text-align: right;
        font-size: 20px;
        color: white;
        text-shadow: 5px 5px 20px rgb(233, 82, 77);
        span{
            color: yellow;
            font-size: 28px;
        }
    }
}

.contentbox{
    padding-right: 50px;
    padding-top: 50px;
}

.block{
    display: flex;
    
}

.btn{
    width: 140px;
    height: 37px;
    font-size: 16px;
    background-color: #c00;
    padding: 0px 23px;
    font-weight: 500;
    letter-spacing: 0.24px;
    text-transform: none;
    border-radius: 2px;
    color: aliceblue;
    text-decoration: none;
}

:root {
    --main-radius: 5px;
    --main-padding: 5px;
  }
  
  
  .containergrid {
    // background-color: rgba(0,0,0,.5);
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
    grid-template-areas:
      "nav nav nav nav"
      "sidebar main main main"
      "sidebar content1 content2 content3"
      "sidebar footer footer footer";
    grid-gap: 0.2rem;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    padding: 2px 3px;
    // color: #004d40;
    text-align: center;
  }
  
  nav {
    // background: #a7ffeb;
    grid-area: nav;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    background: rgb(104,103,148);
    background: linear-gradient(350deg, rgba(104,103,148,1) 0%, rgba(22,22,52,1) 35%, rgba(0,0,0,1) 100%);

  }
  
  main {
    // background: #84ffff;
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    background: rgb(104,103,148);
    background: url(https://i.pinimg.com/originals/8e/0e/80/8e0e806d0e702406fb6b4e6ea67ec01f.jpg) center center/cover no-repeat;
    display: flex;
    padding: 15px 25px;


  }
  
  #sidebar {
    // background: #18ffff;
    grid-area: sidebar;
    border-radius: var(--main-radius);
    // padding-top: var(--main-padding);
    background: rgb(104,103,148);
    background: url(https://i.pinimg.com/originals/86/59/25/865925de648ee33ccbc05394ce71a9c3.jpg) center center/cover no-repeat;
    

  }
  
  #content1 {
    // background: #6fffd2;
    grid-area: content1;
    border-radius: var(--main-radius);
    // padding-top: var(--main-padding);
    background: rgb(104,103,148);
    background: linear-gradient(350deg, rgba(104,103,148,1) 0%, rgba(93,93,131,1) 35%, rgba(0,0,0,1) 100%);

  }
  .con1{
      display: flex;
      li{
          list-style: none;
      }
  }
  
  #content2 {
    // background: #64ffda;
    grid-area: content2;
    border-radius: var(--main-radius);
    // padding-top: var(--main-padding);
    background: rgb(104,103,148);
    background: linear-gradient(350deg, rgba(104,103,148,1) 0%, rgba(93,93,131,1) 35%, rgba(0,0,0,1) 100%);

  }
  
  #content3 {
    // background: #73ffba;
    grid-area: content3;
    border-radius: var(--main-radius);
    // padding-top: var(--main-padding);
    background: rgb(104,103,148);
    background: linear-gradient(350deg, rgba(104,103,148,1) 0%, rgba(93,93,131,1) 35%, rgba(0,0,0,1) 100%);

  }
  
  footer {
    // background: #1de9b6;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    background: rgb(104,103,148);
    background: url(https://s3-eu-central-1.amazonaws.com/news.pr-cy.ru/535312/images/bd566a436186bc902b777071f961000b.jpg) center center/cover no-repeat;
  }
  
  a {
    text-align: center;
    display: block;
    font-family: inherit;
    text-decoration: none;
    font-weight: bold;
    margin: 1rem;
  }
  
  @media only screen and (max-width: 550px) {
    .containergrid {
      grid-template-columns: 1fr;
      grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
      grid-template-areas:
        "nav"
        "sidebar"
        "main"
        "content1"
        "content2"
        "content3"
        "footer";
    }
  }
  